 :root {
  --primary-color: #00d4ff;
  --secondary-color: #ab1818;
  --text-color: #fff;
  --hover-color: rgb(0, 195, 255);
}

#page-create-collective {
  display: flex;
}

#page-create-collective main {
  flex: 1;
}

form.create-collective-form {
  width: 700px;
  margin: 64px auto;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;

  padding: 64px 80px;

  overflow: hidden;
}

form.create-collective-form .leaflet-container {
  margin-bottom: 40px;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
}

form.create-collective-form fieldset {
  border: 0;
}

form.create-collective-form fieldset + fieldset {
  margin-top: 80px;
}

form.create-collective-form fieldset legend {
  width: 100%;

  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
  font-weight: 700;

  border-bottom: 1px solid #D3E2E5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

form.create-collective-form .input-block + .input-block {
  margin-top: 24px;
}

form.create-collective-form .input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

form.create-collective-form .input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

form.create-collective-form .input-block input,
form.create-collective-form .input-block textarea {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

form.create-collective-form .input-block input {
  height: 64px;
  padding: 0 16px;
}

form.create-collective-form .input-block textarea {
  min-height: 120px;
  max-height: 240px;
  resize: vertical;
  padding: 16px;
  line-height: 28px;
}

form.create-collective-form .input-block .images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

form.create-collective-form .input-block .images-container img {
  width: 100%;
  height: 96px;
  object-fit: cover;
  border-radius: 20px;
}

form.create-collective-form .input-block .images-container .new-image {
  height: 96px;
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

form.create-collective-form .input-block input[type="file"] {
  display: none;
}

form.create-collective-form .input-block .button-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form.create-collective-form .input-block .button-select button {
  height: 64px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  color: #5C8599;
  cursor: pointer;
}

form.create-collective-form .input-block .button-select button.active {
  background: #EDFFF6;
  border: 1px solid #A1E9C5;
  color: #37C77F;
}

form.create-collective-form .input-block .button-select button:first-child {
  border-radius: 20px 0px 0px 20px;
}

form.create-collective-form .input-block .button-select button:last-child {
  border-radius: 0 20px 20px 0;
  border-left: 0;
}

form.create-collective-form button.confirm-button {
  margin-top: 64px;

  width: 100%;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: #3CDC8C;
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

form.create-collective-form button.confirm-button svg {
  margin-right: 16px;
}

form.create-collective-form button.confirm-button:hover {
  background: var(--hover-color);
}

form.create-collective-form .input-block .radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

form.create-collective-form .input-block .radio-container {
  display: flex;
  align-items: center;
}

.radio-container input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin-right: 8px;
}

.radio-container label {
  margin: 0; 
  display: block; 
  cursor: pointer;
}

.radio-container .custom-radio {
  width: 20px;
  height: 20px;
  border: 2px solid #00d4ff;
  border-radius: 50%;
}

.radio-container input[type="radio"]:checked + .custom-radio {
  background-color: var(--primary-color);
}

.radio-container input[type="radio"]:checked + .custom-radio::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.input-block.select {
  position: relative;
}

.input-block.select select {
  width: 100%;
  height: 64px; 
  padding: 0 16px; 
  border: 1px solid #D3E2E5; 
  border-radius: 20px; 
  background: #F5F8FA; 
  color: #5C8599; 
  font-size: 16px; 
  -moz-appearance: none;     
  appearance: none;          
  padding-right: 30px;       
}

.input-block.select label {
  display: block;
  margin-bottom: 8px; 
  color: #333; 
}

.input-block.select::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #5C8599; 
  font-size: 16px; 
}

